.masonry-container {
  .masonry-item {
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eee;
    .masonry-image {
      width: 100%;
      display: block;
      height: auto;
    }
  }
}
