.parallaxWrap{
  height: 2000px;
  margin-top: 500px;
  margin-bottom: 500px;
}

.parallax{
  display: inline-block;
  width: 7%;
  margin: 0 1%;
  float: left;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #2bb8c3;
  color: #fff;
  transition: transform .01s; //防止抖动严重
}

.parallaxWrap
